.LandingPage{
    background-color:rgba(0, 0, 0, 0.95);
    color: white;
    font-family: 'Times New Roman', Times, serif;

}

@media (max-width:640px){
    .brand{
        display: none;
    }

    .auth{
        height: 60vh !important;
    }
    .footer{
        height: 40vh !important;
    }
}

.brand{
    background-image: url('../assets/bg-WFH.svg');
    height: 80vh;

}

.auth {
    height: 80vh;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 4rem 0;
}


.signupBtn{
    background-color: rgb(7, 2, 46) !important;
    color:  rgb(96, 230, 235) !important;  
}

.signInBtn{
    background-color: rgb(96, 230, 235) !important;
    color:  rgb(7, 2, 46)  !important;
    
}

.sbtn{
    margin: 1rem 0 !important;
    border-radius: 2rem !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
}

.footer{
    background-color:rgba(0, 0, 0, 0.95);
    height: 20vh;
}