.register{
    background-color: #b3e1f7;
    display: flex;
    flex-direction: column;
    padding: 3rem 2rem;
}


@media (min-width:1020px) {
    .register{
        width: 50vw;
        height: 95vh;
    }
    
    
}


@media (max-width:640px) {
    .register{
        width: 70vw ;
        height: 95vh; 
    } 
    
}