.register{
    background-color: #b3e1f7;
    display: flex;
    flex-direction: column;
    padding: 3rem 2rem;
    width: 50vw;
    height: 90vh;
}


/* .register > *{
    margin: 1rem 0 !important;
}

.register--input{
    border-radius: 5px;
}

@media (max-width:768px) {
ac
    .register{
        width: 90vw;
        height: 90vh;
    }
    
} */