
.feed{
    
    border-right: 1px solid rgb(173, 171, 171);
    width: 800px;
    overflow-y: scroll;
    height: 100vh;
}

.feed::-webkit-scrollbar{
    display: none;
}

.feed-header{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
}

@media (max-width:1020px) {
    .feed{
        height: 130vh;
    }
    
    
}

@media (max-width:768px) {
    .feed{
        height: 100vh;
    }
    
    
}

@media (max-width:400px) {
    .feed{
        height: 800px;
    }

}
